extends layout/base
include mixins/index

block content
    include partials/sidebar
    include partials/topbar
    #page-content-wrapper
        .main-container
            .row
                .col-md-11.py-2.my-2.mx-auto.text-center.calendar__header
                    span.calendar__nav
                        - const monthsOfYear = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
                        h6#previousmonth.d-inline-block.px-2.my-0.text-right.calendar__nav-item
                            a(href='/tsm/calendar/' + monthNavigation.previousYear + '/' + monthNavigation.previousMonth)= '« ' + monthsOfYear[monthNavigation.previousMonth - 1]
                        h4#currentmonth.d-inline-block.px-2.my-0= monthNavigation.month
                        h6#nextmonth.d-inline-block.px-2.my-0.text-left.calendar__nav-item
                            a(href='/tsm/calendar/' + monthNavigation.nextYear + '/' + monthNavigation.nextMonth)= monthsOfYear[monthNavigation.nextMonth - 1] + ' »'
            .row
                .col-md-11.py-3.my-2.mx-auto
                    table(cellspacing=0, cellpadding=0).calendar__table
                        thead
                            tr
                                th.calendar__weekday.center Mon
                                th.calendar__weekday.center Tue
                                th.calendar__weekday.center Wed
                                th.calendar__weekday.center Thu
                                th.calendar__weekday.center Fri
                                th.calendar__weekday.center Sat
                                th.calendar__weekday.center Sun
                        tbody
                            - const numRows = calendar.calendarData.length / 7;
                            - for(let i = 0; i < numRows; i++) {
                                tr
                                    - for(let j = 0; j < 7; j++) {
                                        - const k = i * 7;
                                            +styleDaysFromOtherMonths(k, j, i)
                                                .calendar__date.d-none.d-md-block
                                                    strong= calendar.calendarData[k + j].day
                                                .calendar__cell
                                                    strong.d-md-none= calendar.calendarData[k + j].day.substring(0, 2)
                                                    - if (calendar.calendarData[k + j].episodes)
                                                        ul
                                                            each episode in calendar.calendarData[k + j].episodes
                                                                li(class={'watched' : episode.watched}).d-none.d-md-block
                                                                    - if (j + k <= calendar.daysFromPreviousMonth + calendar.day - 1) {
                                                                        .calendar__cell--checkbox
                                                                            input(type='checkbox', id=`episode-${episode.id}`, data-tvshowid=episode.thetvdb, data-episodeid=episode.id, checked=(episode.watched) ? true : false)
                                                                            label(for=`episode-${episode.id}`)
                                                                    - }
                                                                    a(href='/tsm/tvshows/' + episode.thetvdb, class={'red' : episode.isSeasonFinale}, class={'green' : episode.isSeasonBegin}).calendar__cell--tvshow= episode.name
                                                                    span.calendar__cell--episode= `${episode.title || 'TBC'} (S${episode.season}E${episode.epnum})`
                                                                li.d-md-none
                                                                    span.calendar__cell--dot(class={'watched' : episode.watched}, class={'red' : episode.isSeasonFinale}, class={'green' : episode.isSeasonBegin}, data-episodeid=episode.id)
                                    - }
                            - }
                    div#eplist.d-md-none.mt-3
                        - const dt = new Date();
                        - const locale = 'en-us';
                        h4#selectedday= `${dt.getDate()} ${dt.toLocaleString(locale, { month: 'long' })}`
                        - for(let i = 0; i < calendar.calendarData.length; i++) {
                            if (calendar.calendarData[i].episodes.length > 0)
                                ul(class={'d-none' : i !== calendar.daysFromPreviousMonth + dt.getDate() - 1}).calendar__eplist
                                    each episode in calendar.calendarData[i].episodes
                                        li(data-episodeid=episode.id, data-tvshowid=episode.thetvdb)
                                            div.d-inline-block
                                                strong(class={'red' : episode.isSeasonFinale}, class={'green' : episode.isSeasonBegin})= episode.name
                                                p
                                                    span= `S${episode.season}E${episode.epnum}`
                                                    | &#32; #{episode.title}
                                            div.d-inline-block.float-right(class={'watched' : episode.watched})
                                                span.icon-eye
                            else
                                p(class={'d-none' : i !== calendar.daysFromPreviousMonth + dt.getDate() - 1}) No episodes
                        - }
    include modals/bug.pug