extends layout/base
include mixins/genre

block content    
    include partials/sidebar
    #page-content-wrapper
        .main-container
            .row
                .col-md-11.mx-auto.my-3
                    .banner
                        img(src=banner, alt=name).img-fluid.mx-auto
                        .overlay
                            span#tvshow-name= name
                            if isAuthenticated
                                if !isUserFollowingTvshow
                                    button#userTvShowState.btn.btn-primary.text-uppercase.d-block(data-tvshowid=id) Add to my shows
                                else
                                    button#userTvShowState.btn.btn-secondary.text-uppercase.d-block(data-tvshowid=id) Remove from my shows
            .row
                .col-md-11.mx-auto
                    if !isAuthenticated
                        .alert.alert-warning.text-center.w-100(role='alert')
                            span 
                                | You need to 
                                a(href='#login-modal', data-toggle='modal') login 
                                | in order to follow a tvshow and mark episodes as watched.
            .row.mb-5.justify-content-center
                .col-md-6
                    .border.bg-text.h-100
                        p.overview= overview
                .col-md-5
                    .row.bg-text.border.h-100
                        .col-md-4.d-flex.align-items-center
                            ul.list-unstyled.mx-auto
                                li.py-2
                                    span.d-block.text-center 
                                        strong Status
                                    span.d-block.text-center(class= (status === 'Running') ? 'green' : 'red')= status || '-'
                                li.py-2
                                    span.d-block.text-center 
                                        strong Premiered
                                    span.d-block.text-center= premiered || '-'
                        .col-md-4.d-flex.align-items-center
                            ul.list-unstyled.mx-auto
                                li.py-2
                                    span.d-block.text-center 
                                        strong Network
                                    span.d-block.text-center= network || '-'
                                li.py-2
                                    span.d-block.text-center
                                        strong Airdate
                                    span.d-block.text-center= airdate || '-'
                        .col-md-4.d-flex.align-items-center
                            ul.list-unstyled.mx-auto
                                li.py-2
                                    span.d-block.text-center 
                                        strong Imdb
                                    span.d-block.text-center
                                        a(href=imdb)= imdbRating || '-'
                                li.py-2
                                    span.d-block.text-center
                                        strong Genre
                                    +genre()
            .row.mb-3
                .col-md-11.mx-auto
                    h3.d-inline-block
                        i(aria-hidden='true').fa.fa-list.mr-1
                        | Episodes
                    select#season-select.custom-select.pull-right
                        - for (i = 1; i <= season; i++) {
                            - if (i === season) {
                                option(selected, value = i)= 'Season ' + i
                            - } else {
                                option(value = i)= 'Season ' + i
                            - }
                        - }
            .row.mb-5.justify-content-center
                .col-md-3
                    img#poster(src=poster, alt=name).img-fluid
                .col-md-8
                    if episodes
                        table#episodes-table(cellspacing=0, cellpadding=0).table.table-striped
                            tbody
                                each episode in episodes
                                    tr(data-episodeid= episode.id)
                                        td.num #{episode.num.toString().padStart(2, '0')}
                                        td.title= episode.name || 'TBC'
                                        td.airdate= episode.airdate || 'TBC'
                                        td.markwatched
                                            i(aria-hidden='true', class={'watched' : episode.watched}).fa.fa-eye
                    else
                        p Ooops. Something went wrong while fetching the episodes. Please try again later.
            include modals/login
            include modals/bug