extends layout/base
include mixins/genre

block content
    #page-content-wrapper
        .main-container
            .row
                .col-md-11.mx-auto.my-3
                    .tvshow__banner
                        img(src=banner, alt=`${name} banner`).img-fluid.mx-auto
                        .tvshow__banner-overlay
                            span#tvshow-name= name
                            if isAuthenticated
                                if !isUserFollowingTvshow
                                    button#userTvShowState.btn.btn-primary.text-uppercase.d-block(data-tvshowid=id) Add to my shows
                                else
                                    button#userTvShowState.btn.btn-secondary.text-uppercase.d-block(data-tvshowid=id) Remove from my shows
            .row
                .col-md-11.mx-auto
                    if !isAuthenticated
                        .alert.alert-warning.text-center.w-100(role='alert')
                            span
                                | You need to
                                a(href='#login-modal', data-toggle='modal') &#32;login&#32;
                                | in order to follow a tvshow and mark episodes as watched.
            .row.mb-5.justify-content-center.tvshow__info
                .col-12.col-md-6
                    .border.bg-text.h-100
                        p.tvshow__info-overview= overview
                .col-12.col-md-5
                    .row.bg-text.border.h-100
                        .col-12.col-md-4.d-flex.align-items-center
                            ul.list-unstyled.mx-auto
                                li.py-2
                                    span.d-block.text-center
                                        strong Status
                                    span.d-block.text-center(class= (status === 'Running') ? 'green' : 'red')= status || '-'
                                li.py-2
                                    span.d-block.text-center
                                        strong Premiered
                                    span.d-block.text-center= premiered || '-'
                        .col-12.col-md-4.d-flex.align-items-center
                            ul.list-unstyled.mx-auto
                                li.py-2
                                    span.d-block.text-center
                                        strong Network
                                    span.d-block.text-center= network || '-'
                                li.py-2
                                    span.d-block.text-center
                                        strong Airdate
                                    span.d-block.text-center= airdate || '-'
                        .col-12.col-md-4.d-flex.align-items-center
                            ul.list-unstyled.mx-auto
                                li.py-2
                                    span.d-block.text-center
                                        strong Imdb
                                    span.d-block.text-center
                                        a(href=imdb)= imdbRating || '-'
                                li.py-2
                                    span.d-block.text-center
                                        strong Genre
                                    +genre()
            .row.mb-3
                .col-md-11.mx-auto
                    h3.d-inline-block
                        span.icon-th-list.mr-1
                        | Episodes
                    select#season-select.custom-select.float-right
                        - for (i = 1; i <= season; i++) {
                            - if (i === season) {
                                option(selected, value = i)= 'Season ' + i
                            - } else {
                                option(value = i)= 'Season ' + i
                            - }
                        - }
            .row.mb-5.justify-content-center.tvshow__episodes
                .col-12.col-md-3
                    img(src=poster, alt=`${name} banner`).img-fluid.tvshow__episodes-poster
                .col-12.col-md-8
                    if episodes
                        table#episodes-table(cellspacing=0, cellpadding=0).table.table-striped.tvshow__table
                            tbody
                                each episode in episodes
                                    tr(data-episodeid= episode.id)
                                        td.num= episode.epnum.toString().padStart(2, '0')
                                        td.title= episode.name || 'TBC'
                                        td.airdate= episode.airdate || 'TBC'
                                        td.markwatched
                                            span(class={'watched' : episode.watched}).icon-eye
                    else
                        p Ooops. Something went wrong while fetching the episodes. Please try again later.
    include modals/login