extends layout/base

block content
    #page-content-wrapper
        .main-container
            .row
                .col-md-11.mx-auto
                    .mt-3.position-relative
                        h3.d-inline-block.mb-0
                            span.icon-th-list.mr-1
                            | Watchlist
                        if unwatchedEpisodesCount
                            p.watchlist__counter
                                span= unwatchedEpisodesCount
                                |
                                | unwatched episodes
                    .watchlist__list.my-5
                        if watchlist && unwatchedEpisodesCount !== 0
                            ul.list-inline.d-none.d-md-block
                                each tvshow, i in watchlist
                                    li.list-inline-item.watchlist__list-poster.mb-3(class={'highlight' : i === 0}, data-tvshowid=tvshow.tvshowId)
                                        img(src=`https://artworks.thetvdb.com/banners/${(tvshow.images[1] || tvshow.images[0])}`, alt=`${tvshow.tvshowName} banner`, data-tvshowid=tvshow.tvshowId)
                                        - let counter = 0;
                                        each subdata in tvshow.data
                                            if subdata.season !== '00'
                                                - counter += subdata.episodes.length
                                        span= counter
                            .d-md-none
                                - let counter = 0;
                                select.custom-select
                                    each tvshow, i in watchlist
                                        if i === 0
                                            option(selected, value=tvshow.tvshowName, data-tvshowid=tvshow.tvshowId)= tvshow.tvshowName
                                            each subdata in tvshow.data
                                                if subdata.season !== '00'
                                                    - counter += subdata.episodes.length
                                        else
                                            option(value=tvshow.tvshowName, data-tvshowid=tvshow.tvshowId)= tvshow.tvshowName
                                span#mobile-counter.float-right= counter
            .row
                .col-md-11.mx-auto
                    if watchlist && unwatchedEpisodesCount !== 0
                        each tvshow, i in watchlist
                            div(data-tvshowid=tvshow.tvshowId, class={'d-none': i !== 0})
                                each subdata in tvshow.data
                                    - const special = (subdata.season === '00');
                                    div(data-season=subdata.season, class={'d-none' : special})
                                        if special
                                            h3.d-inline-block Special
                                        else
                                            h3.d-inline-block= `Season ${subdata.season}`
                                        a.mark-watched(href='#', data-tvshowid=tvshow.tvshowId, data-season=subdata.season).float-right mark season as watched
                                        table(cellspacing=0, cellpadding=0, data-tvshowid=tvshow.tvshowId, data-season=subdata.season).table.table-striped.watchlist__table
                                            tbody
                                                each episode in subdata.episodes
                                                    tr(data-epid=episode.id, data-toggle='collapse', data-target=`#${episode.id}`)
                                                        td.title
                                                            span.w-100.float-left= `S${episode.season}E${episode.epnum}`
                                                            span.w-100.float-left.font-weight-bold= episode.title || 'TBC'
                                                        td.overview.d-none.d-md-block
                                                            - if (episode.overview.length > 180) {
                                                                p= episode.overview.substr(0, episode.overview.lastIndexOf(' ', 180))
                                                                span [show more]
                                                                p.d-none= episode.overview.substr(episode.overview.lastIndexOf(' ', 180))
                                                            - } else {
                                                                p= episode.overview || 'This episode has no summary yet.'
                                                            - }
                                                        td.airdate.fit= episode.airdate || 'TBC'
                                                        td.watched
                                                            span.icon-eye
                                                    tr
                                                        td(colspan="6" class="hiddenRow")
                                                            div(id= episode.id).accordian-body.collapse= episode.overview

                    else if watchlist && unwatchedEpisodesCount === 0
                        p You don't have any unwatched episodes.
                    else
                        p Ooops. Something went wrong.